@font-face {
    font-family: ;
    src: url();
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: ;
}
/* EVENT */

#event{
    display:flex;
    justify-content: center;
    background-color: black;
    padding:3rem

}

#event article{
    /* border:1px solid black; */
    display: flex;
    
}

#event>div article{
    background-color: white;
    margin-right: 1rem;
    
}

#event>div article:first-child{
        margin:0 1rem 1rem 0;
}

#event>div{
    width: 400px;
}

.date{
    color:white;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back{
    padding: 2rem;
    background-position: center;
    background-size: cover;
}

.top{
    background-image: url(../image/event-01.jpg);
}

.bottom{
    background-image: url(../image/event-02.jpg);
}

.right{
    background-image: url(../image/event-03.jpg);
    padding: 1rem;
    width: 300px;
    text-align: center;
}

/* .right>div{
    background-color: white;
    width: 100%;
} */

.right .date{
    margin: auto;
}


@media screen and (max-width:770px){
    .fa-bars{
        display: block;
        margin-left: 1rem;
    }

    ul{
        display:none;
    }

    .menu_dropdown:hover ul{
        display:block;
        position: absolute;
        top:2rem ;
        left:0rem;
        background-color: black;
        color:white;
    }

    ul li{
        padding: 1rem;
    }

    #surlignage{
        flex-direction: column;
    }

    .right{
        height: 400px;
        width: 400px;
        margin-top: 1rem;
    }

    #event{
        flex-direction: column;
        align-items: center;
    }

}